name: Build

on:
    push:
        branches: [master]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Setup node environment
              uses: actions/setup-node@v3

            - name: Install Node.js dependencies
              run: npm ci --no-audit

            - name: Build html
              run: npm run build:html

            - name: Build pdf
              run: npm run build:pdf

            - name: Commit changes
              run: |
                git config --global user.email "24963659+crobibero@users.noreply.github.com"
                git config --global user.name "crobibero"
                git commit -am 'Automated build'
                git push